<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{mesa.nombre_mesa}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Cliente:</ion-label>
      <ion-input type="text" name="cliente"></ion-input>
    </ion-item>
  </form>

  <ion-list>
    <ion-list-header><strong>Pedido:</strong></ion-list-header>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
